
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

:root {
--clr-main: #4b33a8;
--clr-main-light: #785ce9;
--clr-white: #ececec;
--clr-gray: #e2e2e2;
--clr-red: #961818;
}
body {
 font-family: Arial, sans-serif;
 background-color: #f2f2f2;
}

header {
 text-align: center;
 padding: 20px;
 background-color:var(--clr-main);
 color: #fff;
}

main {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 margin-top: 50px;
}

h1 {
 font-size: 24px;
 margin-bottom: 20px;
 position: -webkit-sticky;
position: sticky;
top: 0;
z-index: 1;
}

.grid-container {
 display: grid;
 grid-template-columns: 1fr 1fr;
 gap: 20px;
 margin-top: 20px;
}

.login-container {
 border: 1px solid #ccc;
 padding: 20px;
 border-radius: 5px;
 background-color: #fff;
 max-width: 400px;
 margin: 0 auto;
}

input[type="text"],
input[type="password"] {
 width: 100%;
 padding: 10px;
 margin-bottom: 10px;
 border: 1px solid #ccc;
 border-radius: 5px;
}

input[type="submit"],
input[type="reset"],
button a{
 padding: 10px 20px;
 background-color: var(--clr-main);
 color: #fff;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}

footer {
 text-align: center;
 padding: 20px;
 background-color:var(--clr-main);
 color: #fff;
}
.grid-container {
 display: grid;
 grid-template-columns: 1fr;
 gap: 20px;
 margin-top: 20px;
}
@media (min-width: 600px) {
 .grid-container {
   grid-template-columns: 1fr 1fr;
 }
}

